body{
    font-family: 'PT Serif', serif;
}

.logo{
    width: 35px;
}

.navbar{
    background: url(images/bg2.jpg) 600px;
    padding: 0.5rem;
    box-shadow: 0 7px 11px #20083a;
    /* backdrop-filter: blur(60px); */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


.nav-link {
    color: #fff !important;
}

.navbar-nav{
    gap: 10px;
    font-size: 1.1rem;
}
.navbar-brand{
    font-size: 2rem;
    color: #fff;
}

.bg-image img{
    width: 100% !important;
    position: fixed;
    z-index: -1;
    filter: brightness(0.9);
}

.hero{
    backdrop-filter: brightness(0.5);
    padding: 11rem 0 8rem;
}

.hero img{
    width: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 2px #000;
}

.about{
    margin: auto;
    padding: 2rem;
    background: #fff;
    border-radius: 25px;
    box-shadow: 1px 0px 9px 4px #3f3f46;
}

.my-photo{
    text-align: center;
}

.skills-section{
    text-align: center;
    padding: 6rem 0;
    /* margin: 4rem 0; */
}

.skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 12rem;
    gap: 25px;
}

.skills img{
    box-shadow: 0px 1px 6px 4px #fff;
    /* box-shadow: 0px 1px 6px 4px #e4dddd; */
    width: 150px;
    border-radius: 10px;
    padding: 0.7rem;
}

.more-about{
    padding: 5rem;
    background: url('images/carousel.jpg');
}

#carousel-container{
    color: #fff;
}

